<%= form_for(@author) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :last_book %><br>
    <%= f.text_field :last_book %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
